<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auto form</title>
</head>
<body>
<form action="{{ url_for('autoform') }}" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.text.label }}
        {{ form.text(size=50) }}<br/>
        {{ form.select() }}

        {% if form.text.errors %}
            {% for error in form.text.errors %}
        <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ form.text.description }}
        {% endif %}
    </p>
    <p>
        {{ form.volume }}
{{ form.volume.data }}
    </p>
    <p>
        {{ form.submit() }}
    </p>
</form>

</body>
</html>