<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form method="post" action="{{ url_for('form') }}">
    <input type="text" name="txtinput" value="{{ session.txtinput }}" />
    <input type="submit">
</form>


</body>
</html>